*.db
*.db-shm
*.db-wal
*.egg-info/
*.py[cod]
*.spec
.DS_Store
.pytest_cache/
.testdata/
Thumbs.db
__pycache__/
_preview.html
android/.gradle/
android/app/*.jks
android/app/build/
android/build/
android/local.properties
build/
dist/
release/*.apk
